<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="slider-wrap" id="slider-wrap">
        <ul class="list slider" id="slider">
            <li>
                <img src="<%= require('./src/image/red.jpeg') %>" />
            </li>
            <li>
                <img src="<%= require('./src/image/orange.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/yellow.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/green.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/blue.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/indigo.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/violet.jpeg') %>">
            </li>
        </ul>

        <div class="btn next" id="next"><span class="fa fa-arrow-right material-symbols-outlined">arrow_right_alt</span>
        </div>
        <div class="btn previous" id="previous"><span
                class="fa fa-arrow-left material-symbols-outlined">arrow_back</span></div>


        <div class="indicator-wrap" id="indicator-wrap">
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="control-wrap play" id="control-wrap">
            <span class="fa fa-pause material-symbols-outlined" id="pause" data-status="pause">pause</span>
            <span class="fa fa-play material-symbols-outlined" id="play" data-status="play">play_arrow</span>
        </div>

    </div>
</body>

</html>